@import 'utils/infoWin_style_svelte.less';

@name  : windy-plugin-demo;
@width : 350px;
@bottom: 150px;

#@{name}-info {
      

    .flex-container {
        flex-direction : column;
        justify-content: space-between;
        height         : 100%;

        .plugin__title {
            margin-bottom: 15px; //windy default 25px;
        }

        // this is not used for the plugin,  but I am leaving it in
        .scrollable {
            flex      : auto;
            box-sizing: border-box;
            position  : relative;
            width     : 100%;
            padding   : 0px 10px;
            overflow-y: scroll;
            overflow-x: hidden;

            .add-scroll-bar();

            .plugin__title {
                font-size: 22px !important;

                padding : 5px 0px 10px 0px;
                position: sticky;
                top     : 0px;

            }

            .toggle-section {
                font-size    : 15px;
                margin-bottom: 3px;

                &.checkbox {
                    &::before {
                        content  : '\u25B7';
                        top      : -0.1em;
                        font-size: 0.8em;
                    }

                    &+* {
                        display: none;
                    }

                    &.off {
                        &::before {
                            content  : "\u25BD";
                            top      : -0.1em;
                            font-size: 0.8em;
                        }

                        &+* {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}